/* Font face declaration for ONY ONE Regular */
@font-face {
  font-family: 'ONY ONE';
  src: url('/fonts/ONYOne-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Apply ONY ONE font globally */
*,
*::before,
*::after {
  font-family: 'ONY ONE', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


